<!-- Fragmento da Barra de Navegação -->
<div th:fragment="navbar" class="header">
    <div class="d-flex align-items-center">
        <h1 class="navbar-brand mr-4">SaaS Curricular</h1>
        <div class="header-links">
            <a th:href="@{/fichas}" class="navbar-link mr-3">Fichas</a>
            <a th:href="@{/perguntas}" class="navbar-link">Perguntas</a>
        </div>
    </div>
    <div class="d-flex align-items-center">
        <span sec:authentication="name" class="mr-3 text-white">User</span>
        <form th:action="@{/logout}" method="post" class="mb-0">
            <button type="submit" class="logout-btn">Sair</button>
        </form>
    </div>
</div>
